ZeusWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://ws.zeus.com/" name="ZeusWS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://ws.zeus.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <wsp:Policy wsu:Id="ZeusWSPortBindingPolicy" xmlns:sunwsp="http://java.sun.com/xml/ns/wsit/policy" xmlns:ssp="http://schemas.sun.com/2006/03/wss/server">
    <ssp:ValidatorConfiguration sunwsp:visibility="private">
      <ssp:Validator name="usernameValidator" classname="validators.DerivedKeyPasswordValidator"/>
    </ssp:ValidatorConfiguration>
    <wsam:Addressing/>
  </wsp:Policy>
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.zeus.com/" schemaLocation="ZeusWS_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="GetListaArticulos">
    <part name="parameters" element="tns:GetListaArticulos"/>
  </message>
  <message name="GetListaArticulosResponse">
    <part name="parameters" element="tns:GetListaArticulosResponse"/>
  </message>
  <message name="GetArtExistencia">
    <part name="parameters" element="tns:GetArtExistencia"/>
  </message>
  <message name="GetArtExistenciaResponse">
    <part name="parameters" element="tns:GetArtExistenciaResponse"/>
  </message>
  <message name="GetListaClientes">
    <part name="parameters" element="tns:GetListaClientes"/>
  </message>
  <message name="GetListaClientesResponse">
    <part name="parameters" element="tns:GetListaClientesResponse"/>
  </message>
  <message name="GetClienteSaldo">
    <part name="parameters" element="tns:GetClienteSaldo"/>
  </message>
  <message name="GetClienteSaldoResponse">
    <part name="parameters" element="tns:GetClienteSaldoResponse"/>
  </message>
  <message name="GetArtPrecio">
    <part name="parameters" element="tns:GetArtPrecio"/>
  </message>
  <message name="GetArtPrecioResponse">
    <part name="parameters" element="tns:GetArtPrecioResponse"/>
  </message>
  <message name="GetArticulo">
    <part name="parameters" element="tns:GetArticulo"/>
  </message>
  <message name="GetArticuloResponse">
    <part name="parameters" element="tns:GetArticuloResponse"/>
  </message>
  <message name="GetArtImpto">
    <part name="parameters" element="tns:GetArtImpto"/>
  </message>
  <message name="GetArtImptoResponse">
    <part name="parameters" element="tns:GetArtImptoResponse"/>
  </message>
  <message name="GetCliente">
    <part name="parameters" element="tns:GetCliente"/>
  </message>
  <message name="GetClienteResponse">
    <part name="parameters" element="tns:GetClienteResponse"/>
  </message>
  <portType name="ZeusWS">
    <operation name="GetListaArticulos">
      <input wsam:Action="http://ws.zeus.com/ZeusWS/GetListaArticulosRequest" message="tns:GetListaArticulos"/>
      <output wsam:Action="http://ws.zeus.com/ZeusWS/GetListaArticulosResponse" message="tns:GetListaArticulosResponse"/>
    </operation>
    <operation name="GetArtExistencia">
      <input wsam:Action="http://ws.zeus.com/ZeusWS/GetArtExistenciaRequest" message="tns:GetArtExistencia"/>
      <output wsam:Action="http://ws.zeus.com/ZeusWS/GetArtExistenciaResponse" message="tns:GetArtExistenciaResponse"/>
    </operation>
    <operation name="GetListaClientes">
      <input wsam:Action="http://ws.zeus.com/ZeusWS/GetListaClientesRequest" message="tns:GetListaClientes"/>
      <output wsam:Action="http://ws.zeus.com/ZeusWS/GetListaClientesResponse" message="tns:GetListaClientesResponse"/>
    </operation>
    <operation name="GetClienteSaldo">
      <input wsam:Action="http://ws.zeus.com/ZeusWS/GetClienteSaldoRequest" message="tns:GetClienteSaldo"/>
      <output wsam:Action="http://ws.zeus.com/ZeusWS/GetClienteSaldoResponse" message="tns:GetClienteSaldoResponse"/>
    </operation>
    <operation name="GetArtPrecio">
      <input wsam:Action="http://ws.zeus.com/ZeusWS/GetArtPrecioRequest" message="tns:GetArtPrecio"/>
      <output wsam:Action="http://ws.zeus.com/ZeusWS/GetArtPrecioResponse" message="tns:GetArtPrecioResponse"/>
    </operation>
    <operation name="GetArticulo">
      <input wsam:Action="http://ws.zeus.com/ZeusWS/GetArticuloRequest" message="tns:GetArticulo"/>
      <output wsam:Action="http://ws.zeus.com/ZeusWS/GetArticuloResponse" message="tns:GetArticuloResponse"/>
    </operation>
    <operation name="GetArtImpto">
      <input wsam:Action="http://ws.zeus.com/ZeusWS/GetArtImptoRequest" message="tns:GetArtImpto"/>
      <output wsam:Action="http://ws.zeus.com/ZeusWS/GetArtImptoResponse" message="tns:GetArtImptoResponse"/>
    </operation>
    <operation name="GetCliente">
      <input wsam:Action="http://ws.zeus.com/ZeusWS/GetClienteRequest" message="tns:GetCliente"/>
      <output wsam:Action="http://ws.zeus.com/ZeusWS/GetClienteResponse" message="tns:GetClienteResponse"/>
    </operation>
  </portType>
  <binding name="ZeusWSPortBinding" type="tns:ZeusWS">
    <wsp:PolicyReference URI="#ZeusWSPortBindingPolicy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="GetListaArticulos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetArtExistencia">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetListaClientes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetClienteSaldo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetArtPrecio">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetArticulo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetArtImpto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetCliente">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ZeusWS">
    <port name="ZeusWSPort" binding="tns:ZeusWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

